:root {
    --primary: #fc9ab1;
    --primary-dark: #dc5a78;
    --primary-70: #e8acba;
    --primary-50: #edc4cd;
    --primary-30: #dfc0c7;
    --primary-10: #fff;
    --logo: #fc9ab1;
    --sidebar-icon: #dc5a78;
}

.bg-grad-sidebar {
    background: #30326e;
}
