:root {
    --primary: #BFDBFE;
    --primary-dark: #1E40BE;
    --primary-70: #e8acba;
    --primary-50: #edc4cd;
    --primary-30: #dfc0c7;
    --primary-10: #fff;
    --logo: #BFDBFE;
    --sidebar-icon: #BFDBFE;
}
/* sample */
.bg-grad-sidebar {
    background: #1E40AF;
}

.card{
    padding:5px;
}
