:root {
    --primary: #A7F3D0;
    --primary-dark: #10B981;
    --primary-70: #e8acba;
    --primary-50: #edc4cd;
    --primary-30: #dfc0c7;
    --primary-10: #fff;
    --logo: #DB2777;
    --sidebar-icon: #fff;
}
/* sample */
.bg-grad-sidebar {
    background: #DB2777;
    color: #fff !important;
}

.uppercase.tracking-wide, .text-blue-900.text-justify.no-underline.dim {
    color:#ffffff !important;
}

.card{
    padding:5px;
}
